
@{
    ViewData["Title"] = "Index";
}

<h1>Deccorator - Index</h1>

<h3>Notification mechanism</h3>
<p>
    Send message, which is from the database's table.
</p>
<p>
    @ViewData["db_Result"]
</p>

